<div class="vspan hspan">
	<div class="vspan"
		data-dojo-type="dijit/layout/BorderContainer">
		<div id = "headerPane"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="region:'top'"
			data-dojo-attach-point="headerPane">
		</div>
		<div id = "controlPane" class="vspan"
			data-dojo-type="dijit/layout/ContentPane"
			data-dojo-props="region:'left',splitter:true"
			data-dojo-attach-point="controlPane">
		</div>
		<div class="vspan"
			data-dojo-type="dijit/layout/BorderContainer"
			data-dojo-props="design:'headline',region:'center'">
			<div id = "contentPane"
				data-dojo-type="dijit/layout/ContentPane"
				data-dojo-props="region:'center'"
				data-dojo-attach-point="contentPane">
			</div>
			<div id = "statusPane"
				data-dojo-type="dijit/layout/ContentPane"
				data-dojo-props="region:'bottom'"
				data-dojo-attach-point="statusPane">
			</div>
		</div>
	</div>
</div>
