<div>
	<div class="vspan"
		data-dojo-attach-point="form"
		data-dojo-type="dijit/form/Form">
		<table class="center"
			data-dojo-attach-point="wrapper">
			<tr>
				<td><label for="registerEmail">${nls.email}:</label></td>
				<td><input id="registerEmail" align="right"
					data-dojo-type="dijit/form/ValidationTextBox"
					data-dojo-attach-point="email"
					type="email" name="email" required />
				</td>
			</tr>
			<tr>
				<td><label for="registerPassword">${nls.password}:</label></td>
				<td><input id="registerPassword" align="right"
					data-dojo-type="dijit/form/MappedTextBox"
					data-dojo-attach-point="password"
					type="password" name="password" required />
				</td>
			</tr>
			<tr>
				<td><label for="registerConfirm">${nls.confirm}:</label></td>
				<td><input id="registerConfirm" align="right"
					data-dojo-type="dijit/form/MappedTextBox"
					data-dojo-attach-point="confirm"
					type="password" name="confirm" required />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<button type="submit"
						data-dojo-type="dijit/form/Button"
						data-dojo-attach-point="button">
						${nls.register}
					</button>
				</td>
			</tr>
			<tr><td colspan="2"><div data-dojo-attach-point="errorPane"></div></td></tr>
		</table>
	</div>
</div>
