<div>
	<script type="dojo/require">at:"dojox/mvc/at"</script>
	<table>
		<tr>
			<td>Name:</td>
			<td><div data-dojo-type="app/controllers/Output" data-dojo-props="value:at(this.control,'name')"></div></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><div data-dojo-type="app/controllers/Output" data-dojo-props="value:at(this.control,'email')"></div></td>
		</tr>
		<tr>
			<td>Confirmed:</td>
			<td><div data-dojo-type="app/controllers/Output" data-dojo-props="value:at(this.control,'confirmed')"></div></td>
		</tr>
		<tr>
			<td>Failures:</td>
			<td><div data-dojo-type="app/controllers/Output" data-dojo-props="value:at(this.control,'failures')"></div></td>
		</tr>
			<td>Blocked:</td>
			<td><div data-dojo-type="app/controllers/Output" data-dojo-props="value:at(this.control,'blocked')"></div></td>
	</table>
</div>
